
#energy progress::-webkit-progress-value {
    background-color: #3b79ff;
}

#energy progress::-moz-progress-bar {
    background-color: #0eceff;
}

#pdv progress::-webkit-progress-value {
    background-color: #ff6039;
}

#pdv progress::-moz-progress-bar {
    background-color: #ff8053;
}

.formulaire {

    display: flex;
    flex-direction: column;
}

.container-index {

    background-image: url("../bg.jpeg");

}
/*tableau*/
table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 50%;
}
th {
    font-family: monospace;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    background-color: #D0E3FA;
}
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}
caption {
    font-family: sans-serif;
}